configfile: "config/config.yaml"

module tm-shift_designer:
    snakefile:
        # TODO replace <release> with desired release
        "https://github.com/snakemake-workflows/snakemake-workflows/snakemake-workflow-template/raw/v0.1.0/Snakefile"
    config:
        config

use rule * from tm-shift_designer